# Server Configuration
NODE_ENV=development
PORT=3000

# MongoDB Configuration (Can use my Testing Mongo Atlas URI: mongodb+srv://varun:12345@cluster0.xkcjn0f.mongodb.net/notification_db)
MONGODB_URI=mongodb://localhost:27017/notification_db



# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=secret-key
JWT_EXPIRES_IN=24h

